@import "../../scss/variebles";
@import "../../scss/mixins";

.list__item {
    @include dflex(center, center);

    flex-direction: column;
    width: 290px;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 10px 20px $cardShadowColor;
    background-color: $contentBg;

    overflow: hidden;
    transition: $transitionTime;

    &:not(:disabled):hover {
        box-shadow: 0 5px 20px $cardShadowColorHover;
        color: $whiteColor;
        background-color: $bgColor1;

        .item__description {
            color: $whiteColor;
        }
    }

    .item__title {
        position: relative;
        z-index: 1;
        min-height: 46px;
        flex-grow: 1;
        font-size: 22px;
        font-family: "ComicSans", sans-serif;
        text-align: center;
    }

    .img__wrap {
        @include dflex();

        position: relative;
        width: 100%;
        height: 180px;
        margin: 20px auto;

        &:after {
            @include psevdo("", absolute, 5%, -1);

            left: 5%;
            width: 90%;
            height: 90%;
            border-radius: 30% 70% 70% 30% / 30% 45% 55% 70%;
            background-color: $cardImgBg1;
            background: linear-gradient(to right, $cardImgBg2, $cardImgBg1);
        }
    }

    img {
        width: 70%;
        height: 70%;
        object-fit: contain;
    }

    .item__description {
        flex-grow: 1;
        font-size: 16px;
        text-align: justify;
        color: $buttonBgColor2;
        opacity: 0.9;
    }
}


@include tablet() {
    .list__item {
        width: 290px;

        .img__wrap {
            height: 100px;

            &:after {
                top: 0;
                left: 20%;
                width: 60%;
                height: 100%;
            }
        }
    }
}

