@import "../../scss/mixins";
@import "../../scss/variebles";

.footer {
    background-color: $bgColor1;
    padding: 25px 0;

    .wrapper {
        @include dflex(space-between, center);
    }

    .school__link {
        width: 100px;
        height: 35px;
        background: url(../../assets/svg/rs_school.svg) no-repeat center center;
        background-size: contain;

        &:not(:disabled):hover {
            transform: scale(1.3);
        }
    }

    .year__text {
        font-size: 22px;
        color: $whiteColor;
    }

    .github__link {
        position: relative;
        z-index: 1;
        padding-right: 60px;
        color: $footerLinks;
        font-size: 16px;

        &:not(:disabled):hover:after {
            transform: scale(1.3);
        }

        &:after {
            content: "";
            position: absolute;
            top: -10px;
            right: 0;
            width: 40px;
            height: 40px;
            background: url(../../assets/svg/gitHub.svg) no-repeat center center;
            background-size: contain;
            transition: $transitionTime;
        }
    }

    svg {
        width: 100%;
        max-width: 350px;
        transition: $transitionTime;
    }
}

@include smallTablet() {
    .footer {
        padding: 20px 0;

        .wrapper {
            flex-direction: column;
        }

        .year__text {
            margin: 15px auto;
            font-size: 18px;
            color: $whiteColor;
        }
    }
}
