@import "../../scss/variebles";
@import "../../scss/mixins";

.statistic_block {
    margin: 0 15px 30px;
    padding: 30px;
    border-radius: $borderRadius;
    box-shadow: $statisticBoxshadow;
    background-color: $whiteBg;

    .statistic__title {
        margin-bottom: 15px;
        font-size: 24px;
        color: $statisticTitleColor;
    }

    .statistic__list_info {
        font-size: 16px;
        color: $statisticListColor;

        span {
            font-weight: bold;
        }
    }
}

@include mobile() {
    .statistic_block {
        width: 100%;
        margin: 0 0 30px;
        padding: 20px;

        .statistic__title {
            margin-bottom: 10px;
            font-size: 20px;
        }

        .statistic__list_info {
            font-size: 14px;
        }
    }
}
