/* colors start */
$withOutColor: transparent;
$whiteColor: #fff;
$black: #000;
$dark: #411f26;
$middleBlue: #394689;
$middleDarkBlue: #333c54;
$darkBlue: #30364a;
$orangeRedColor: #FF512F;
$orangeColor: #d27230;
$orangeLight: #F09819;
$grey: #6e6e6e;
$greyLight: #707070;
$brownLight: #e2d4c4;

$bgColor1: $middleDarkBlue;
$bgColor2: $whiteColor;

$scrollbarTrack: #e4e4e4;
$scrollbarThumb: $dark;

$burgerColor: $orangeColor;
$footerLinks: $brownLight;
$linksHover: $orangeColor;

$contentBg: $brownLight;
$whiteBg: #f6f6f6;
$mainTitle: $dark;
$fonText1: #c4d0ee;
$fonText2: #eae8db;


$buttonBgColor1: #757b92;
$buttonBgColor2: $darkBlue;
$buttonShadowColor: rgba(57, 70, 137, 0.8);

$cardShadowColor: rgba(132, 132, 133, 0.4);
$cardShadowColorHover: transparentize($greyLight, 0.2);
$cardImgBg1: $orangeLight;
$cardImgBg2: $orangeRedColor;

$authInfoBorder: transparentize($greyLight, 0.2);
$submitBth: $darkBlue;
$submitBthHover: $orangeRedColor;
$submitBthShadow: rgba(31, 31, 31, 0.9);
$formFileRound: $grey;
$formFileName: $orangeRedColor;

$errorTitleColor: $orangeRedColor;

$gameShadow: 2px 2px 10px transparentize($greyLight, 0.2);
$gameNameShadow: 0 0 1px $black,  0 1px 2px $black, 1px 2px 3px $black;
$gameNameShadow2: 0 1px 1px $black,  0 2px 2px $black, 1px 3px 2px $black,
0 5px 2px $black,  0 6px 2px $black, 1px 8px 2px $black;
$gameDarkFon: rgba(57, 70, 137, 0.8);
$gameHoverName: $orangeRedColor;

$tabBg: $darkBlue;
$activeTabBg: $orangeLight;
$tabShadow: 2px 2px 6px transparentize($greyLight, 0.3);


$wordsSection0: $withOutColor;
$wordsSection1: #3962eb;
$wordsSection2: #0b993a;
$wordsSection3: #c3d331;
$wordsSection4: #890ea8;
$wordsSection5: #07b1db;
$wordsSection6: #44080b;

$wordBg: transparentize($whiteColor, 0.15);
$wordShadow: inset 0 0 20px rgba(14, 14, 14, 0.5);
$wordTranslateColor: #535353;
$wordBorder: 3px solid rgba(109, 109, 109, 0.3);
$wordMiniTitle: $middleBlue;
$wordButtonHelpersBg: $middleBlue;
$wordButtonHelpersBgHover: $orangeRedColor;
$learnAllItemShadow: 0 0 15px rgba(0, 255, 34, 0.671);

$paginationActiveBg: $middleDarkBlue;

$loaderColor: #0a69aa;
$loaderColor2: rgba(7,171, 204, 0.2);
$loaderColor3: rgba(7,171, 204, 0.5);
$loaderColor4: rgba(7,171, 204, 0.7);

$statisticBoxshadow: inset 0 0 20px rgba(14, 14, 14, 0.4);
$statisticTitleColor: $middleDarkBlue;
$statisticListColor: $grey;

$timerColor: $middleBlue;

$errorText: #ff0000;

$userNameColor: #928980;

/* colors end */



/* values start */
$scrollbarWidth: 10px;
$wrapper-max-width: 1300px;
$minWidthButton: 150px;
$transitionTime: 0.3s;
$transitionTimeLong: 0.5s;
$borderRadius: 15px;
$tabBorderRadius: 10px;
$formInputsBorderRadius: 5px;
$smallBorderRadius: 5px;
$wordBorderRadius: 10px;
$appFontSize: 18px;

$loaderSize: 25px;
$loaderAnimationShadow1: 0 -40px 0 0;
$loaderAnimationShadow2: 30px -30px 0 0;
$loaderAnimationShadow3: 40px 0 0 0;
$loaderAnimationShadow4: 30px 30px 0 0;
$loaderAnimationShadow5: 0 40px 0 0;
$loaderAnimationShadow6: -30px 30px 0 0;
$loaderAnimationShadow7: -40px 0 0 0;

$timerSize: 60px;
/* values end */

