/* colors start */
$bgColor1: #3A6073;
$bgColor2: #fff;

$headerButtonBg: #cbb796;
$whiteColor: #fff;
$black: #000;



$blackTransparent: rgba(0, 0, 0, 0.4);
$buttonShadow: rgba(182, 182, 182, 0.4);
$orange: #db5c01;
$red: #ff0004;
$green: #00ff40;
$withOutColor: transparent;
$oddCarItemBg: rgba(255, 255, 255, 0.09);
/* colors end */

/* values start */
$wrapper-max-width: 1300px;
$minWidthButton: 150px;
/* values end */

