@import "../../scss/variebles";
@import "../../scss/mixins";

.timer {
    width: $timerSize;
    height: $timerSize;
    font-weight: 800;
    font-size: 28px;
    text-align: center;
    line-height: $timerLineSize;
    border: $gameBlockBorder;
    border-radius: 50%;
    box-shadow: $gameBlockShadow;
    color: $timerColor;
    background-color: $whiteBg;
}

@include mobile() {
    .timer {
        width: 40px;
        height: 40px;
        line-height: 34px;
        font-size: 18px;
    }
}
