@import "../../scss/variebles";
@import "../../scss/mixins";

.pagination__list {
    @include dflex(center, stretch);

    flex-wrap: wrap;
    margin: 30px auto;

    .pagination__item {
        margin: 5px;
        text-align: center;
    }

    .pagination__button {
        min-width: 45px;
        padding: 5px 10px;
        border-radius: $smallBorderRadius;
        border: 2px solid $bgColor1;
        background-color: $whiteColor;
    }

    span {
        color: $bgColor1;
    }

    .pagination__button.active {
        background-color: $paginationActiveBg;

        span {
            color: $whiteColor;
        }
    }
}

@include mobile() {
    .pagination__list {
        .pagination__button {
            font-size: 16px;
            padding: 5px;
            min-width: 40px;
        }
    }
}
