@import "../../scss/variebles";

.button {
    position: relative;
    z-index: 1;
    padding: 0;
    font-size: 16px;
    border-radius: 10px;
    letter-spacing: 0.08em;
    text-decoration: none;

    &:after {
        content: "";
        position: absolute;
        left: 8%;
        bottom: 0;
        z-index: -1;
        display: block;
        width: 84%;
        height: 20px;
        transition: $transitionTime;
        border-radius: 15px;
        box-shadow: 0 10px 20px $buttonShadowColor;
        background-color: $withOutColor;
    }

    &:not(:disabled):hover:after {
        box-shadow: 0 18px 20px $buttonShadowColor;
    }

    &:active span{
        box-shadow: inset 0 0 10px $whiteColor;
    }

    span {
        min-width: 200px;
        padding: 15px 30px;
        display: block;
        font-weight: 500;
        border-radius: inherit;
        box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
        color: $whiteColor;
        background-color: $buttonBgColor2;
        background: linear-gradient(128deg, $buttonBgColor1, $buttonBgColor2 );
        transition: $transitionTime;
    }
}
