@import "../../scss/variebles";
@import "../../scss/mixins";

label,
input {
    display: block;
    width: 100%;
}

label {
    margin-bottom: 25px;
}

.error__text {
    margin-top: 3px;
    color: $errorText;
    font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    padding: 15px 10px;
    border-radius: $formInputsBorderRadius;
    border: none;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    box-shadow: 2px 2px 5px $authInfoBorder;
    background-color: $whiteColor;
}

input[type="submit"] {
    margin-top: 40px;
    color: $whiteColor;
    background-color: $submitBth;

    &:hover {
        background-color: $submitBthHover;
    }

    &:active {
        box-shadow: inset 0 0 15px $submitBthShadow;
    }
}

@include mobile() {
    label {
        margin-bottom: 15px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="submit"] {
        padding: 10px;
        font-size: 16px;
    }

    input[type="submit"] {
        margin-top: 30px;
    }
}
